@page "/createmeal"
@using AIChef.Shared
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;


<PageTitle>AI Chef - Create Meal</PageTitle>

<div class="container mt-5 h-100">
    <div class="row">
        <div class="col">
            <h1>Create Meal</h1>
            <EditForm EditContext="@editcontext">
                <div class="row gy-2">
                    <div class="col-12">
                        <label class="form-label">Meal Time: </label>
                        <InputSelect @bind-Value="meal.mealtime" class="form-select">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Dessert">Dessert</option>
                        </InputSelect>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Ingredient: </label>
                        <InputText placeholder="Add Ingredient" maxlength="30" @bind-Value="meal.ingredient" class="form-control mb-2" />
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-success" @onclick="AddIngredient">Add</button>
                        <button class="btn btn-outline-danger" @onclick="RemoveAll">Clear</button>
                    </div>
                    <div class="col-3">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="meal.Chinese" class="form-check-input" id="chineseCheckbox" />
                            <label class="form-check-label" for="chineseCheckbox">Chinese (Yes/No):</label>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Ingredients</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ingredients)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Description
                                                </td>

                                                <td class="text-end pe-3">
                                                    <button class="btn btn-outline-danger" @onclick="()=>RemoveIngredient(item.Id)">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-success rounded">Generate Recipe</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private EditContext? editcontext;

    private Meal meal = new();

    private List<Ingredient> ingredients = new List<Ingredient>();

    protected override void OnInitialized()
    {
        editcontext = new(meal);
    }

    private class Meal
    {
        public bool Chinese { get; set; } = true; // default to True
        public string? mealtime { get; set; }
        public string? ingredient { get; set; }
    }

    private void AddIngredient()
    {
        if (!string.IsNullOrEmpty(meal.ingredient))
        {
            ingredients.Add(new Ingredient
            {
                Id= Guid.NewGuid(),
                Description = meal.ingredient
            }) ;
        }

        // Clear the text box
        meal.ingredient = string.Empty;
    }

    private void RemoveAll()
    {
        ingredients.Clear();
    }

    private void RemoveIngredient(Guid Id)
    {
        ingredients.Remove(ingredients.First(x => x.Id == Id));
    }
}

