@page "/createmeal"
@using AIChef.Shared
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;


<PageTitle>AI Chef - Create Meal</PageTitle>

<div class="container mt-5 h-100">
    <div class="row">
        <div class="col">
            <h1>Create Meal</h1>
            <EditForm EditContext="@editcontext">
                <div class="row gy-2">
                    <div class="col-12">
                        <label class="form-label">Meal Time: </label>
                        <InputSelect @bind-Value="meal.mealtime" class="form-select">
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Dessert">Dessert</option>
                        </InputSelect>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Ingredient: </label>
                        <InputText placeholder="Add Ingredient" maxlength="30" @bind-Value="meal.ingredient" class="form-control mb-2" />
                    </div>
                    <div class="col-3">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="meal.Chinese" class="form-check-input" id="chineseCheckbox" />
                            <label class="form-check-label" for="chineseCheckbox">Chinese (Yes/No):</label>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {
    private EditContext? editcontext;

    private Meal meal = new();

    protected override void OnInitialized()
    {
        editcontext = new(meal);
    }

    private class Meal
    {
        public bool Chinese { get; set; } = true; // default to True
        public string? mealtime { get; set; }
        public string? ingredient { get; set; }
    }

}

