@page "/"
@layout LandingPageLayout

<PageTitle>AI Chef - Craft your next meal</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center">
            <div class="col text-end me-3">
                <a href="https://ericportfolio-production.up.railway.app" target="_blank">About</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="images/AiChefLogoLight.png" height="300" />
            </div>
            <div class="text-center mt-5">
                <a herf="/createmeal" class="btn btn-success btn-lg">Get Started</a>
            </div>
        </main>
        <footer class="text-center">
            &copy; Eric Zhang 2023
        </footer>
    </div>
</div>

