@page "/mealRecipe/{Index:int}"
@using AIChef.Shared;
@inject HttpClient Http;
@inject NavigationManager Navigation;
@using System.Text.Json;
@using System.Web;

<div class="container mt-5 h-100">
    <div class="d-flex flex-column flex-lg-row justify-content-start">
        <div class="text-center text-lg-start">
            <img class="rounded-3" />
        </div>
        <div class="flex-grow-1 px-3">
            <h1 class="fw-bold">@title</h1>
            <p>Description Goes</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mt-3">
            <h2>Ingredients</h2>
        </div>
        <div class="col">
            <h2>Instructions</h2>
        </div>
    </div>
</div>



@code {
    [CascadingParameter]
    private RecipeState? recipeState { get; set; }

    [Parameter]
    public int Index { get; set; }

    private string title;
    private string recipeImageURL = string.Empty;
    private Recipe recipe;
    protected override void OnInitialized()
    {

    }

    private async void GetRecipe()
    {
        string baseuri = "Recipe/GetRecipe";

        try
        {
            string title = recipeState.ideas.FirstOrDefault(i => i.index == Index).title;

            RecipeParms recipeParms = new RecipeParms()
            {
                MealTime = recipeState.MealTime,
                isChinese = recipeState.isChinese,
                Ingredients = recipeState.ingredients,
                SelectedIdea = title
            };

            //Get the recipe image
            HttpResponseMessage responseImage = await Http.GetAsync($"Recipe/GetRecipeImage?title={HttpUtility.UrlEncode(title)}");
            var recipeImage = await responseImage.Content.ReadFromJsonAsync<RecipeImage>();
            recipeImageURL = recipeImage!.data[0].url;

            //Get the recipe
            HttpResponseMessage responseRecipe = await Http.PostAsJsonAsync(baseuri, recipeParms);
            recipe = await responseRecipe.Content.ReadFromJsonAsync<Recipe>();

            StateHasChanged();
        }
        catch
        {
            Console.WriteLine("Error: Could not generate recipe");
        }
    }

}

