
<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
        <img src="/images/AiChefLogoDark.png" height="250px"/>
    </div>
    <div class="loader">
        Loading...
    </div>
</div>


@code {

}

